*{
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: mediumorchid;
    font-size: larger;
    font-weight: bolder;
}
section{
    justify-content: center;
    background-color:pink;
    padding-top: 50px;
}
#parrafo{
    background-color: palevioletred;
    width: 80%;
}
footer{
    padding: 20px;
    text-align: center;
    background-color:blueviolet;
}